[credential "https://github.com"]
	helper = 
	helper = !/home/shreyas/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/shreyas/.local/bin/gh auth git-credential
[user]
	name = Shreyas Mididoddi
	email = me@shreyascodes.tech
[init]
	defaultBranch = main
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
